@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .main {
        font-family: 'Indie Flower', cursive;
        margin: 0;
        padding: 0;
        color: white;
        background: url(../src/images/landingpage_slideshow_01.jpg) center/cover;
        height: 100vh;

        .container {
            $color: #b3b3b394;
            background-color: rgba($color, 0.4);
            margin-top: 20vh;
            padding: 10vh 0;
            h1 {
                text-align: center;
                font-size: 400%;
            }
        }

        nav {
            padding-top: 15px;
            ul {
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 2.5em;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #slide {
        transition: 1.5s;
        &:hover {
            transform: translateX(100px);
        }
    }
}

.arrow {
    opacity: 0;
    transition: 1.5s;
    transform: translateX(-50px);
    &-hover {
        opacity: 1;
        transform: translateX(10px);
    }
}

.filter-white {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(173deg) brightness(106%) contrast(100%);
}